# How data tables should look like after each preprocessing step

In [1]:
import pandas as pd

## Raw Data

In [4]:
raw_data = pd.read_csv('../raw_data/xy_hc_fai_tstp_E2_2_PM.csv')
raw_data.head()

,Item1.Item1,Item1.Item2,Item1.Item3,Item1.Item4,Item1.Item5.Item1,Item1.Item5.Item2,Item1.Item5.Item3,Item1.Item6,Item2.Item1,Item2.Item2
0,212.4553,904.4227,4.908172,55.17365,43.333333,-9.613397,True,112,1.0,2
1,212.5218,904.3281,4.912901,55.17838,43.333333,-9.613397,True,115,1.0,2
2,212.5009,904.3752,4.911213,55.17670,43.333333,-9.613397,True,119,1.0,2
3,212.5807,904.6185,4.912896,55.17838,43.333333,-9.613397,True,123,1.0,2
4,211.3826,902.6219,4.846778,55.11226,32.500000,-0.413379,True,126,1.0,2

## Preprocess

In [47]:
preproc = pd.read_csv('../raw_data/example_data_format/preprocess.txt')
preproc = preproc.drop(columns=['Unnamed: 0','Unnamed: 1'])
preproc

,x,y,heading,cumulative_angle,freq_tk,ampl_tk,distance_pts,timestamp
0,951.682900,624.822100,0.957494,0.000000,130.000000,-0.647131,0.000000,0.00
1,951.741667,624.758332,0.956885,-0.000609,130.000000,-0.647131,0.086717,0.01
2,951.751526,624.719631,0.957644,0.000150,130.000000,-0.647131,0.039937,0.02
3,951.761384,624.680931,0.958403,0.000909,130.000000,-0.647131,0.039937,0.03
4,951.775773,624.665192,0.958258,0.000764,130.000000,-0.647131,0.021324,0.04
...,...,...,...,...,...,...,...,...
2995,752.855612,334.835808,2.903319,1.945826,29.443199,-0.003029,0.038564,29.95
2996,752.875052,334.834165,2.900367,1.942873,30.136591,0.286978,0.019509,29.96
2997,752.907532,334.832102,2.896632,1.939136,32.549394,0.516522,0.032546,29.97
2998,752.878635,334.831437,2.898858,1.941364,75.648383,1.235284,0.028904,29.98
2999,752.862200,334.848400,2.903922,1.946430,130.000000,2.052905,0.023619,29.99

## Data Summary Table

In [36]:
summary = pd.read_csv('../raw_data/example_data_format/data_summary.txt')
summary = summary.drop(columns=['Unnamed: 1'])
summary = summary.set_index('E2_C100_DataSUMMARY').rename(columns={'Unnamed: 2': ''})
summary.head()

E2_C100_DataSUMMARY
Av_Hz_bouts           1.060000
SEM_Hz_bouts          0.052289
Av_Bout_duration      0.367799
SEM_Bout_duration     0.002295
Av_Bout_distance     48.697498

## Event List

In [43]:
events = pd.read_csv('../raw_data/example_data_format/event_list.txt')
events = events.drop(index=0,columns=['Unnamed: 0','Unnamed: 1']).set_index('Event_n')
events.head()

,Fish_n,Duration_s,distance_pnts,delta_tetha_rad,Mx_kt_freq,Mx_kt_ampl,Latency_s,max_speed_pnts_s
Event_n,,,,,,,,
0,1,0.23,24.503464,0.062066,102.18208,13.491801,NaN,196.50714
1,1,0.35,71.571899,1.143152,127.53227,93.454697,0.50,456.38770
2,1,0.36,72.548042,0.731524,127.34314,83.830765,0.70,457.80341
3,1,0.43,105.313740,1.164316,129.84306,76.212608,0.79,499.17184
4,1,0.39,91.873650,0.859277,114.34362,70.856285,1.03,543.56598

## Fish List

In [45]:
fish_list = pd.read_csv('../raw_data/example_data_format/fish_list.txt')
fish_list = fish_list.drop(index=0, columns=['Unnamed: 0','Unnamed: 1']).set_index('fish_n')
fish_list

,Bouts_Hz,av_duration,sem_duration,total_distance,av_latency,sem_latency,final_CUMangle
fish_n,,,,,,,
1,1.233333,0.342162,0.009022,2551.54440,0.810556,0.049462,25.821220
2,1.066667,0.335000,0.016722,1214.00440,0.942581,0.085665,13.238998
3,0.733333,0.288182,0.013967,1019.18670,1.164762,0.155381,7.491880
4,1.266667,0.317368,0.007002,2239.87280,0.760000,0.032517,33.818214
5,0.966667,0.387931,0.017633,1265.89170,0.997857,0.069206,17.750195
6,0.733333,0.418636,0.011035,1091.56460,1.272381,0.222897,18.522684
7,0.866667,0.349231,0.010939,1027.88620,1.169200,0.176733,0.268130
8,1.033333,0.393548,0.005175,1175.78320,0.906333,0.082374,24.982210
9,1.033333,0.359032,0.014030,1566.38890,0.806000,0.052340,27.174820
10,0.766667,0.464348,0.015034,962.13940,1.227273,0.158057,12.300870
11,1.100000,0.367576,0.015088,1089.95800,0.798125,0.106135,12.566700
12,1.133333,0.415294,0.008562,2623.19870,0.752424,0.098153,26.997200
13,1.500000,0.340667,0.005217,3536.18330,0.660227,0.038977,36.661419
14,1.100000,0.397273,0.010856,1954.71390,0.833438,0.067047,28.058397
15,1.200000,0.372500,0.006329,1699.06270,0.805143,0.040208,24.083981
16,1.333333,0.377500,0.010764,1941.44840,0.741795,0.028769,22.085039
17,1.000000,0.372667,0.008683,904.05243,0.953793,0.082119,16.693720
18,0.933333,0.369286,0.011209,1240.48230,1.035185,0.110969,2.067060
19,1.300000,0.348974,0.006090,1933.46250,0.722895,0.028211,17.801870
20,1.566667,0.351064,0.006250,1857.13050,0.631304,0.026970,15.467596
21,1.233333,0.393514,0.011716,1736.55940,0.808333,0.034573,21.433760
22,0.866667,0.367308,0.013285,728.83966,1.136000,0.144095,11.352550
23,1.100000,0.344848,0.007374,2177.65010,0.911563,0.067105,19.532181
24,1.533333,0.351304,0.005557,1479.13180,0.634222,0.030875,17.623301
25,0.266667,0.423750,0.033431,237.55605,3.728571,1.274105,7.241480
26,0.766667,0.339130,0.023956,1791.60600,1.335000,0.393415,15.815970
27,1.400000,0.371905,0.018692,1969.05820,0.710488,0.048685,17.195841
28,0.800000,0.394583,0.011500,880.25592,1.223478,0.141782,7.650006
29,0.733333,0.416364,0.009968,742.10291,1.366667,0.125106,18.512260
30,1.233333,0.368378,0.006762,1820.69950,0.774722,0.050964,6.981500